---
magnoliaAuthor:
  base_url: https://{{ .Env.HOSTNAME }}/magnoliaAuthor
  contextPath: /magnoliaAuthor
  extraContainers:
    - name: test
      image: registry.gitlab.com/mironet/magnolia-bootstrap:v0.2.3-rc1
      command:
        - /app
        - serve
        - -m
        - http://localhost:8080
        - -l
        - ":9988"
  bootstrap:
    password: Magnolia1234
  activation:
    useExistingSecret: False
    secret:
      name: activation-key
      key: activation-secret
  resources:
    requests:
      memory: 2Gi
    limits:
      #cpu: 1000m
      memory: 2Gi
  hostAliases:
    # -- List of hostnames that should be resolved to an ip address. Those entries will be added to /etc/hosts
    - hostnames:
      - foo.bar.com
      ip: 10.3.2.1
  db:
    contentsync:
      enabled: true
    restore:
      enabled: False
    backup:
      enabled: True
      env:
      - name: MGNLBACKUP_CMD
        value: "pg_basebackup"
      - name: MGNLBACKUP_ARGS
        value: "--host localhost --user postgres -D /scratch -Fp"
      - name: MGNLBACKUP_USE_PG_WAL
        value: "true"
      - name: MGNLBACKUP_SYNC_DIR
        value: "/archive"
      - name: MGNLBACKUP_NO_STDOUT
        value: "true"
      - name: MGNLBACKUP_LOGLEVEL
        value: "debug"
      - name: MGNLBACKUP_BUCKET
        value: "full-test-backup"
      - name: MGNLBACKUP_PREFIX
        value: "author"
      - name: MGNLBACKUP_HERITAGE
        value: "magnolia-backup"
      - name: MGNLBACKUP_CRON
        value: "@every 720h" # ~1 month.
      - name: MGNLBACKUP_S3_ACCESSKEY
        valueFrom:
          secretKeyRef:
            name: full-s3-backup-key
            key: accesskey
      - name: MGNLBACKUP_S3_SECRETKEY
        valueFrom:
          secretKeyRef:
            name: full-s3-backup-key
            key: secretkey
      - name: MGNLBACKUP_S3_ENDPOINT
        value: s3.eu-central-1.amazonaws.com
      - name: MGNLBACKUP_S3_CYCLE
        value: "2,0,0"
      - name: MGNLBACKUP_CRON
        value: "@every 24h"
      - name: MGNLBACKUP_PREFIX
        value: author-
      - name: MGNLBACKUP_S3_INSECURE
        value: "false"
      - name: MGNLBACKUP_TAGS_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: MGNLBACKUP_TAGS_NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: MGNLBACKUP_TAGS_POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name

magnoliaPublic:
  bootstrap:
    password: Magnolia1234
  activation:
    useExistingSecret: False
    secret:
      name: activation-key
      key: activation-secret
  resources:
    requests:
      memory: 2Gi
    limits:
      #cpu: 1000m
      memory: 2Gi
  hostAliases:
    # -- List of hostnames that should be resolved to an ip address. Those entries will be added to /etc/hosts
    - hostnames:
      - foo.bar.com
      ip: 10.3.2.1
  db:
    contentsync:
      enabled: true
    backup:
      enabled: True
      env:
      - name: MGNLBACKUP_CMD
        value: pg_dumpall
      - name: MGNLBACKUP_ARGS
        value: --host localhost --user postgres
      - name: MGNLBACKUP_LOGLEVEL
        value: debug
      - name: MGNLBACKUP_S3_BUCKET
        value: magnolia-test
      - name: MGNLBACKUP_S3_ACCESSKEY
        valueFrom:
          secretKeyRef:
            name: full-s3-backup-key
            key: accesskey
      - name: MGNLBACKUP_S3_SECRETKEY
        valueFrom:
          secretKeyRef:
            name: full-s3-backup-key
            key: secretkey
      - name: MGNLBACKUP_S3_ENDPOINT
        value: s3.eu-central-1.amazonaws.com
      - name: MGNLBACKUP_S3_CYCLE
        value: "15,4,3"
      - name: MGNLBACKUP_CRON
        value: "@every 24h"
      - name: MGNLBACKUP_PREFIX
        value: public-
      - name: MGNLBACKUP_S3_INSECURE
        value: "false"
      - name: MGNLBACKUP_TAGS_NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: MGNLBACKUP_TAGS_NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: MGNLBACKUP_TAGS_POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
